<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net462" />
  <package id="Configit.Core.Model" version="4.0.0-internal012" targetFramework="net462" />
  <package id="Configit.Core.Model.Logic" version="4.0.0-internal012" targetFramework="net462" />
  <package id="Configit.Core.Noddy" version="4.0.0-internal012" targetFramework="net462" />
  <package id="Configit.Core.Utils" version="4.0.0-internal012" targetFramework="net462" />
  <package id="Configit.ResourceRepository.Common" version="6.0.0-alpha001" targetFramework="net462" />
  <package id="Configit.ResourceRepository.VersionFile" version="6.0.0-alpha001" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net462" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="System.Linq.Parallel" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>